<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Productos</a>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="agregar">
            <i class="fa fa-plus"></i>
            Agregar
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="visualizar">
            <i class="fa fa-eye">
            </i>
            Visualizar
          </a>
        </li>
      </ul>
  </nav>